<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="9"/>
  <add key="MaxPage" value="5"/>
  <add key="recaptchaPublickey" value="6LcjDV4UAAAAAL5JGKwFEH70ZyLfF6XwxHIoLnBN"/>
  <add key="recaptchaPrivatekey" value="6LcjDV4UAAAAAD3UR39n8fzGTN2ayXyKW3sAYHv2"/>
  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="Port" value="587"/>
  <add key="FromEmail" value="than.oue.than.oue@gmail.com"/>
  <add key="FromMailPassword" value="thanoue123"/>
  <add key="FromName" value="SunFood"/>
  <add key="AdminMail" value="khoikhaguitar.vl@gmail.com"/>
  <add key="MyDomain" value="http://localhost:3985/"/>
  <add key="SMSAccountIdentification" value="97C2U29UT6W4" />
  <add key="SMSAccountPassword" value="x8kuAzpahyg9lOmJqn57DGsF" />
  <add key="SMSAccountFrom" value="+84974395735" />

</appSettings>