<connectionStrings>
  <clear />
   <add name="ShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\;Initial Catalog=KhoiShop;Integrated Security=true" />
  <add name="ShopConnectionMysql" connectionString="Data Source=54.169.215.136;Initial Catalog=sunfood;user id=root;password=gaoilaga;Convert Zero Datetime=True;Allow Zero Datetime=True;"  providerName="MySql.Data.MySqlClient" />
</connectionStrings>