<connectionStrings>
  <clear />
   <add name="ShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\;Initial Catalog=KhoiShop;Integrated Security=true" />
  <add name="ShopConnectionMysql" connectionString="Data Source=LOCALHOST;Initial Catalog=khoishop;user id=root;password=root;Convert Zero Datetime=True;Allow Zero Datetime=True;"  providerName="MySql.Data.MySqlClient" />
</connectionStrings>