<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <title>SunFood - Thực phẩm cho mọi nhà</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//tags -->
    <link href="~/Assets/client/css/flexslider.css" rel="stylesheet" />
    <link href="~/Assets/client/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/client/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/client/css/font-awesome.css" rel="stylesheet">
    <!--pop-up-box-->
    <link href="~/Assets/client/css/popuo-box.css" rel="stylesheet" type="text/css" />
    <!--//pop-up-box-->
    <!-- price range -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/jquery-ui1.css">
    <link href="~/Assets/admin/libs/toastr/toastr.css" rel="stylesheet" />
    <!-- fonts -->
    <link href="~/Assets/client/fonts/googleFonts.css" rel="stylesheet" />
    @*<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">*@
</head>

<body>
    <!-- top-header -->
    <div class="header-most-top">
        <p>SunFood - Thực phẩm cho mọi nhà</p>
    </div>
    <!-- //top-header -->
    <!-- header-bot-->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <!-- header-bot-->
            <div class="col-md-4 logo_agile">
                <h1>
                    <a href="index.html">
                        <span>S</span>un
                        <span>F</span>ood
                        <img src="~/Assets/client/images/logo2.png" alt=" ">
                    </a>
                </h1>
            </div>
            <!-- header-bot -->
            <div class="col-md-8 header">
                <div class="row">
                    <div class="col-xs-10">
                        <ul>
                            @*<li>
                                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog1">
                                        <span class="fa fa-map-marker" aria-hidden="true"></span> Shop Locator
                                    </a>
                                </li>*@
                            <li>
                                <a href="/Customer/UserProfileAsync">
                                    <span class="fa fa-truck" aria-hidden="true"></span>Theo dõi đơn hàng
                                </a>
                            </li>
                            <li>
                                <span class="fa fa-phone" aria-hidden="true"></span> 001 234 5678
                            </li>
                            @if (!Request.IsAuthenticated)
                            {
                                <li>
                                    <a href="#" id="btnViewSigninPopup">
                                        <span class="fa fa-unlock-alt" aria-hidden="true"></span>Đăng nhập
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="viewRegisterPopupbtn">
                                        <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Đăng ký
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="/Customer/UserProfileAsync" id="btnViewUserProfile">
                                        <span class="fa fa-user" aria-hidden="true"></span> @User.Identity.GetUserName()
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="bntLogOut">
                                        <span class="fa fa-unlock-alt" aria-hidden="true"></span> Đăng xuất
                                    </a>
                                </li>
                            }


                        </ul>
                    </div>
                    <div class="col-xs-2">
                        <div style="height:50px;width:50px;">
                            <div id="smallLoading" style="display:none;text-align:center;margin-left:-240px;margin-top:-5px;height:100%;width:100%">
                                <img src="~/Assets/client/images/stuffs/Spinner-1s-46px.gif" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header lists -->
                <!-- //header lists -->
                <!-- search -->
                <div class="agileits_search">
                    <input name="Search" type="search" id="searchKeyword" placeholder="Tìm kiếm sản phẩm..." required="">
                    <button type="button" id="btnSearchProducts" class="btn btn-default" aria-label="Left Align">
                        <span class="fa fa-search" aria-hidden="true"> </span>
                    </button>
                </div>
                <!-- //search -->
                <!-- cart details -->
                <div class="top_nav_right">
                    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                        <button class="w3view-cart" type="button" id="viewCartbn">
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </button>

                    </div>
                </div>
                <!-- //cart details -->
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- shop locator (popup) -->
    <!-- Button trigger modal(shop-locator) -->
    <!-- //shop locator (popup) -->
    <!-- signin Model -->

    <div class="modal fade" id="signInModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" id="loginPopup">
            <!-- Modal content-->
            <!-- //Modal content-->
        </div>
    </div>

    <!-- //signin Model -->

    <div class="modal fade bd-example-modal-lg" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="cartPopup">

        </div>
    </div>
    <!-- //cart Model -->
    <!-- signup Model -->

    <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" id="signUpPopup">
            <!-- Modal content-->
            <!-- //Modal content-->
        </div>
    </div>

    <!-- //signup Model -->
    <!-- //header-bot -->
    <!-- navigation -->
    <div class="ban-top">
        <div class="container">
            @{Html.RenderAction("GetCategorySelectView", "Static");}
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active">
                                    <a class="nav-stylehead" href="/Home/Index">
                                        Trang chủ

                                    </a>
                                </li>
                                <li class="">
                                    <a class="nav-stylehead" href="/Static/About">Về chúng tôi</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Rau củ
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="agile_inner_drop_nav_info">
                                            <div class="col-sm-6 multi-gd-img">
                                                @{Html.RenderAction("GetVegetableCategory", "Static");}
                                            </div>
                                            <div class="col-sm-6 multi-gd-img">
                                                <img src="~/Assets/client/images/nav.png" alt="">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Thực phẩm
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="agile_inner_drop_nav_info">
                                            <div class="col-sm-6 multi-gd-img">
                                                @{Html.RenderAction("GetFoodCategory", "Static");}
                                            </div>
                                            <div class="col-sm-6 multi-gd-img">
                                                <img src="~/Assets/client/images/nav.png" alt="">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Trái cây
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="agile_inner_drop_nav_info">
                                            <div class="col-sm-6 multi-gd-img">
                                                @{Html.RenderAction("GetFruistCategory", "Static");}
                                            </div>
                                            <div class="col-sm-6 multi-gd-img">
                                                <img src="~/Assets/client/images/nav.png" alt="">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle nav-stylehead" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Sản phẩm khác
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu multi-column columns-3">
                                        <div class="agile_inner_drop_nav_info">
                                            <div class="col-sm-6 multi-gd-img">
                                                @{Html.RenderAction("GetOthersCategory", "Static");}
                                            </div>
                                            <div class="col-sm-6 multi-gd-img">
                                                <img src="~/Assets/client/images/nav.png" alt="">
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </ul>
                                </li>
                                <li class="">
                                    <a class="nav-stylehead" href="/lien-he">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- //navigation -->
    <!-- banner -->

    @RenderBody()


    <!-- newsletter -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="col-xs-8 agile-leftmk">
                <h2>Hãy đưa cửa hàng bách hóa vào nhà bạn</h2>
                <p>Giao hàng miễn phí nội thành</p>
                <form action="#" method="post">
                    <input type="email" placeholder="E-mail" name="email" required="">
                    <input type="submit" value="Subscribe">
                </form>
                <div class="newsform-w3l">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-xs-4 w3l-rightmk">
                <img src="~/Assets/client/images/tab3.png" alt=" ">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //newsletter -->
    <!-- footer -->
    <footer>
        <div class="container">
            <!-- footer first section -->
            <p class="footer-main">
                <span>"Cửa hàng thực phẩm SunFood"</span> Cam kết sản phẩm luôn uy tín về mặt chất lượng cũng như xuất xứ. Đảm bảo cho khách hàng sự yên tâm mức cao nhất khi
                mua sắm. Hãy tiến hành đặt hàng ngay dể trải nghiệm sự chăm sóc đặc biệt!!
            </p>
            <!-- //footer first section -->
            <!-- footer second section -->
            <div class="w3l-grids-footer">
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-map-marker" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Theo dõi đơn hàng</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-refresh" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Miễn phí đổi trả trong 3 ngày</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-4 offer-footer">
                    <div class="col-xs-4 icon-fot">
                        <span class="fa fa-times" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-8 text-form-footer">
                        <h3>Hủy đơn hàng thông qua HotLine</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //footer second section -->
            <!-- footer third section -->
            <!-- //footer fourth section (text) -->
        </div>
    </footer>
    <script src="~/Assets/client/js/jquery-2.1.4.min.js"></script>
    <script src="~/Assets/client/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Assets/client/js/move-top.js"></script>
    <script src="~/Assets/client/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //footer -->
    <!-- copyright -->
    <!-- //copyright -->
    <!-- js-files -->
    <!-- jquery -->
    <!-- //jquery -->
    <!-- popup modal (for signin & signup)-->
    <script src="~/Assets/client/js/jquery.magnific-popup.js"></script>

    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 100,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- Large modal -->
    <!-- <script>
        $('#').modal('show');
    </script> -->
    <!-- //popup modal (for signin & signup)-->
    <!-- cart-js -->
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="~/Assets/client/js/jquery-ui.js"></script>

    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 1000000,
                values: [50000, 500000],
                slide: function (event, ui) {
                    $("#amount").val(ui.values[0] + "₫" + " - " + ui.values[1] + "₫");
                }
            });
            $("#amount").val($("#slider-range").slider("values", 0) + "₫" + " - " + $("#slider-range").slider("values", 1) + "₫");

        }); //]]>
    </script>
    <script src="~/Assets/client/js/imagezoom.js"></script>
    <script src="~/Assets/client/js/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>

    <!-- //price range (top products) -->
    <!-- flexisel (for special offers) -->
    <script src="~/Assets/client/js/jquery.flexisel.js"></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <!-- //flexisel (for special offers) -->
    <!-- password-script -->
    <!-- //password-script -->
    <!-- smoothscroll -->
    <!-- //smooth-scrolling-of-move-up -->
    <!-- for bootstrap working -->
    <script src="~/Assets/client/js/bootstrap.js"></script>
    <script src="~/Assets/admin/libs/toastr/toastr.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
    <script src="~/Assets/client/js/viewsJS/SelectView.js"></script>
    <script src="~/Assets/client/js/viewsJS/Filter.js"></script>
    <script src="~/Assets/client/js/minicart.js"></script>
    <script src="~/Assets/client/js/viewsJS/CartView.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="~/Assets/client/js/viewsJS/Account.js"></script>
    <script src="~/Assets/client/js/viewsJS/TabControl.js"></script>
</body>

</html>