<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Blank Page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link href="~/Assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Assets/admin/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/ionicons.css" rel="stylesheet" />
    <!-- Ionicons -->
    <!-- Theme style -->
    <link href="~/Assets/admin/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Assets/admin/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />

    <link href="~/Assets/admin/css/_all-skins.css" rel="stylesheet" />
    <link href="~/Assets/admin/css/custom.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="khoideptraishop" ng-controller="rootController">
    <!-- Site wrapper -->
    <div ui-view></div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->

    <script src="~/Assets/admin/libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/admin/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/admin/libs/slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Assets/admin/libs/fastclick/lib/fastclick.js"></script>
    <script src="~/Assets/admin/js/app.min.js"></script>
    <!-- AdminLTE App -->
    @*<script src="../../dist/js/adminlte.min.js"></script>*@
    <script src="~/Assets/admin/js/adminlte.js"></script>
    <script src="~/Assets/admin/libs/angular/angular.js"></script>
    <script src="~/Assets/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Assets/admin/libs/toastr/toastr.js"></script>
    <script src="~/Assets/admin/libs/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/admin/libs/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/admin/libs/bootbox/bootbox.js"></script>
    <script src="~/Assets/admin/libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/Assets/admin/js/adminlte.min.js"></script>
    <script src="~/Assets/admin/js/demo.js"></script>
    <script src="~/Assets/admin/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/Assets/admin/libs/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Assets/admin/libs/angular-loading-bar/build/loading-bar.js"></script>


    <script src="~/app/Shared/modules/khoideptraishop.common.js"></script>
    <script src="~/app/Shared/filters/statusFilter.js"></script>
    <script src="~/app/Shared/services/apiService.js"></script>

    <script src="~/app/Shared/directive/pagerDirective.js"></script>

    <script src="~/app/Shared/services/notifyService.js"></script>
    <script src="~/app/Shared/services/authData.js"></script>
    <script src="~/app/Shared/services/authenticationService.js"></script>
    <script src="~/app/Shared/services/loginService.js"></script>
    <script src="~/app/Shared/services/commonService.js"></script>

    <script src="~/app/components/product/products.module.js"></script>
    <script src="~/app/components/product_category/productCategory.module.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/components/home/rootController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>
    <script src="~/app/components/logins/loginController.js"></script>
    <script src="~/app/components/product_category/productCategoryAddController.js"></script>
    <script src="~/app/components/product/productAddController.js"></script>
    <script src="~/app/components/product/productListController.js"></script>
    <script src="~/app/components/product/productEditController.js"></script>
    <script src="~/app/components/product_category/productCategoryListController.js"></script>
    <script src="~/app/components/product_category/productCategoryEditController.js"></script>
</body>
</html>
