
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- about page -->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            THỰC PHẨM AN TOÀN CHO MỖI NGÀY TƯƠI SÁNG
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="w3l-welcome-info">
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/UploadedFiles/images/about1.jpg" style="width:100%" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="col-sm-6 col-xs-6 welcome-grids">
                <div class="welcome-img">
                    <img src="~/UploadedFiles/images/about2.jpg" style="width:100%" class="img-responsive zoom-img" alt="">
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="w3l-welcome-text">
            <p>
                Sau thời gian tìm hiểu nguồn cung cấp, được sự ủng hộ của người dân và chính quyền địa phương thành phố Đà Lạt, ban lãnh đạo Sunfood đã ra quyết định thành lập HTX Dịch vụ Nông nghiệp Tổng hợp Sunfood Đà Lạt. Tại đây, chúng tôi phối hợp trồng trọt và thu mua trực tiếp nông sản từ bà con nông dân-những sản phẩm dựa trên nguyên tắc nuôi trồng tự nhiên, đảm bảo các tiêu chí trong sản xuất thực phẩm hữu cơ.
                Người  nông dân được đào tạo chuyên sâu về cách trồng, chăm sóc và bảo quản, các khâu chế biến, vận chuyển, phân phối đều tuân thủ chặt chẽ quy định về an toàn thực phẩm. Bên cạnh đó Hợp Tác Xã Sunfood Đà Lạt được xây dựng dựa trên mô hình chuỗi giá trị:

                <span>Cam kết thu mua với nông dân đúng hợp đồng</span>

                <span> Cam kết cung ứng rau củ quả sạch đúng chất lượng</span> 

                <span>Cam kết bình ổn giá trong năm</span> 
            </p>
            <p>
                Hàng hóa ở Sunfood luôn đa dạng về sản phẩm và phong phú về chủng loại, vì vậy tùy theo từng nhóm sản phẩm chúng tôi luôn cam kết đạt những tiêu chuẩn chất lượng khác nhau và có chứng nhận nguồn gốc xuất xứ rõ ràng được cấp bởi những cơ quan có thẩm quyền.
            </p>
        </div>
    </div>
</div>
<!-- //welcome -->
<!-- video -->
<div class="about">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l">
            Dịch vụ mua hàng trực tuyến và giao hàng tận nơi
            <span class="heading-style">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </h3>
        <!-- //tittle heading -->
        <div class="about-tp">
            <div class="col-md-8 about-agileits-w3layouts-left">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/HD7T8xyxc6A?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="col-md-4 about-agileits-w3layouts-right">
                <div class="img-video-about">
                    <img  src="~/Assets/client/images/videoimg2.png" alt="">
                </div>
                <h4>SunFood</h4>
                <p>Liên hệ ngay để được sử dụng thực phẩm sạch mỗi ngày!</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //video-->
<!-- //about page -->
<!-- newsletter -->
