
@{
    ViewBag.Title = "OrderSucess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Cảm ơn bạn đã mua hàng tại hệ thống của chúng tôi</h1>
<span>Hãy check mail thường xuyên để cập nhậ tiến độ đơn hàng nhé !</span>